[submodule "bin/fishShellHistory"]
	path = bin/fishShellHistory
	url = git@github.com:ttiimmothy/fish-shell-history.git
[submodule "bin/zshHistory"]
	path = bin/zshHistory
	url = git@github.com:ttiimmothy/zsh-history.git
